# Created by .ignore support plugin (hsz.mobi)
/.idea/
/learn-designPattern/learn-designPattern.iml
/learn.iml
/learn-rpc/learn-rpc.iml
/learn-scala/learn-scala.iml
/learn-springMongo/learn-springMongo.iml
/learn-design-pattern/learn-design-pattern.iml
